1. Manhattan Distance
2. Euclidean Distance
3. Minkowski Distance
4. Pearson Correlation Coefficient
5. Cosine Similarity
6. K-nearest neighbor

If the data is subject to grade-inflation (different users may be using different scales) use Pearson.

If your data is dense (almost all attributes have nonzero values) and the magnitude of the attribute values is important, use distance measures such as Euclidean or Manhattan.

If the data is sparse consider using Cosine Similarity.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Movie_Ratings.csv',index_col=0)
df.head()

,Patrick C,Heather,Bryan,Patrick T,Thomas,aaron,vanessa,greg,brian,ben,...,Zak,Matt,Chris.1,Josh,Amy,Valerie,Gary,Stephen,Jessica,Jeff
Alien,NaN,NaN,2.0,NaN,5.0,4.0,NaN,NaN,4.0,NaN,...,NaN,NaN,4.0,3.0,NaN,NaN,2.0,5.0,NaN,4.0
Avatar,4.0,5.0,5.0,4.0,2.0,NaN,4.0,3.0,NaN,3.0,...,5.0,NaN,NaN,4.0,3.0,2.0,1.0,4.0,NaN,4.0
Blade Runner,5.0,NaN,NaN,NaN,5.0,4.0,NaN,1.0,5.0,5.0,...,NaN,NaN,3.0,NaN,3.0,3.0,1.0,NaN,NaN,5.0
Braveheart,4.0,NaN,5.0,NaN,4.0,4.0,3.0,4.0,4.0,NaN,...,5.0,NaN,4.0,NaN,3.0,4.0,5.0,5.0,NaN,4.0
Dodgeball,5.0,4.0,3.0,2.0,4.0,NaN,4.0,5.0,3.0,4.0,...,3.0,NaN,3.0,NaN,4.0,3.0,4.0,3.0,NaN,3.0

In [3]:
users = {
 "Angelica": {"Blues Traveler": 3.5, "Broken Bells": 2.0,"Norah Jones": 4.5, "Phoenix": 5.0,"Slightly Stoopid": 1.5,"The Strokes": 2.5, "Vampire Weekend": 2.0},
 "Bill": {"Blues Traveler": 2.0, "Broken Bells": 3.5,
 "Deadmau5": 4.0, "Phoenix": 2.0,
 "Slightly Stoopid": 3.5, "Vampire Weekend": 3.0},
 "Chan": {"Blues Traveler": 5.0, "Broken Bells": 1.0,
 "Deadmau5": 1.0, "Norah Jones": 3.0,
 "Phoenix": 5, "Slightly Stoopid": 1.0},
 "Dan": {"Blues Traveler": 3.0, "Broken Bells": 4.0,
 "Deadmau5": 4.5, "Phoenix": 3.0,
 "Slightly Stoopid": 4.5, "The Strokes": 4.0,
 "Vampire Weekend": 2.0},
 "Hailey": {"Broken Bells": 4.0, "Deadmau5": 1.0,
 "Norah Jones": 4.0, "The Strokes": 4.0,
 "Vampire Weekend": 1.0},
 "Jordyn": {"Broken Bells": 4.5, "Deadmau5": 4.0, "Norah Jones": 5.0,
 "Phoenix": 5.0, "Slightly Stoopid": 4.5,
 "The Strokes": 4.0, "Vampire Weekend": 4.0},
 "Sam": {"Blues Traveler": 5.0, "Broken Bells": 2.0,
 "Norah Jones": 3.0, "Phoenix": 5.0,
 "Slightly Stoopid": 4.0, "The Strokes": 5.0},
 "Veronica": {"Blues Traveler": 3.0, "Norah Jones": 5.0,
 "Phoenix": 4.0, "Slightly Stoopid": 2.5,
 "The Strokes": 3.0}}

In [4]:
users['Bill'], users['Veronica']

({'Blues Traveler': 2.0,
  'Broken Bells': 3.5,
  'Deadmau5': 4.0,
  'Phoenix': 2.0,
  'Slightly Stoopid': 3.5,
  'Vampire Weekend': 3.0},
 {'Blues Traveler': 3.0,
  'Norah Jones': 5.0,
  'Phoenix': 4.0,
  'Slightly Stoopid': 2.5,
  'The Strokes': 3.0})

## Manhattan distance

In [5]:
def Manhattan(rating1, rating2):
    distance = 0
    for key in rating1:
        if key in rating2:
            distance += abs(rating1[key] - rating2[key])
    return distance

## Minkowski distance

In [6]:
set1 = set(users['Bill'])
set2 = set(users['Veronica'])

len(set1.intersection(set2))

3

In [7]:
from math import pow
def Minkowski(ratings1, ratings2):
    k=len(set(ratings1).intersection(ratings2))
    distance=0
    for key in ratings1:
        if key in ratings2:
            distance += pow(abs(ratings1[key] - ratings2[key]),k)
    distance = pow(distance, 1/k)
    return distance

In [8]:
Minkowski(users['Bill'],users['Veronica'])

2.154434690031884

## Wrong one, the power shouldn't change as the dimensions increase. No such assumption

In [9]:
# Minkowski
def computeNearestNeighbor_Minkowski(username, list_of_users):
    distances=[]
    commonRatings = False
    for user in list_of_users:
        if user != username:
            distances.append((user,Minkowski(users[user],users[username])))
            commonRatings = True
    distances.sort(key = lambda i: i[1])
    if commonRatings:
        return distances 
    else:
        return o

In [10]:
computeNearestNeighbor_Minkowski('Bill',users)

[('Dan', 1.2615562572094132),
 ('Veronica', 2.154434690031884),
 ('Jordyn', 3.0073710962592606),
 ('Angelica', 3.110531083202846),
 ('Hailey', 3.274955810059687),
 ('Sam', 3.595508792069336),
 ('Chan', 3.91889624337133)]

This seems to skew our distance measurement, since the Hailey-Veronica distance is in 2 dimensions while the Hailey-Jordyn distance is in 5 dimensions. Manhattan Distance and Euclidean Distance work best when
there are no missing values.

In [11]:
# Manhattan
def computeNearestNeighbor_Manhattan(username, list_of_users):
    distances=[]
    for user in list_of_users:
        if user != username:
            distances.append((user,Manhattan(users[user],users[username])))
    distances.sort(key = lambda i: i[1])
    return distances

In [12]:
computeNearestNeighbor_Manhattan("Hailey", users)

[('Veronica', 2.0),
 ('Chan', 4.0),
 ('Sam', 4.0),
 ('Dan', 4.5),
 ('Angelica', 5.0),
 ('Bill', 5.5),
 ('Jordyn', 7.5)]

In [13]:
# Minkowski
def recommend(username,list_of_users):
    recommend=[]
    nearestneighbor = computeNearestNeighbor_Minkowski(username,list_of_users)[0][0]
    list_from_username = users[username]
    list_from_nearestneighbor = users[nearestneighbor]
    for item in list_from_nearestneighbor:
        if item not in list_from_username:
            recommend.append((item,list_from_nearestneighbor[item]))
    return sorted(recommend, key=lambda i:i[1], reverse=True)

In [14]:
recommend('Hailey',users)

[('Phoenix', 4.0), ('Blues Traveler', 3.0), ('Slightly Stoopid', 2.5)]

## Pearson Correlation Coefficient

In [15]:
from math import pow, sqrt
def Pearson(ratings1, ratings2):
    sum_x=0
    sum_y=0
    sum_xy= 0
    sum_x_sqr = 0
    sum_y_sqr = 0
    n = 0
    for key in ratings1:
        if key in ratings2:
            n += 1
            x = ratings1[key]
            y = ratings2[key]
            sum_x += x
            sum_y += y
            sum_xy += x*y
            sum_x_sqr += pow(x,2)
            sum_y_sqr += pow(y,2)
    if n == 0:
        return 0
    denominator = sqrt((sum_x_sqr-pow(sum_x,2)/n)*(sum_y_sqr-pow(sum_y,2)/n))
    if denominator == 0:
        return 0
    else:
        return (sum_xy - sum_x*sum_y/n)/denominator

In [16]:
Pearson(users['Angelica'], users['Hailey'])

0.42008402520840293

In [17]:
# Pearson
def computeNearestNeighbor_Pearson(username, list_of_users):
    distances=[]
    for user in list_of_users:
        if user != username:
            distances.append((user,Pearson(users[user],users[username])))
    distances.sort(key = lambda i: i[1],reverse=True)
    return distances

In [18]:
computeNearestNeighbor_Pearson('Angelica',users)

[('Veronica', 0.829385976226374),
 ('Chan', 0.8197822947299414),
 ('Jordyn', 0.7639748605475432),
 ('Hailey', 0.42008402520840293),
 ('Sam', 0.2818672605010608),
 ('Dan', -0.35794101106274595),
 ('Bill', -0.9040534990682699)]

## Incorporate K-nearest neighbor

In [46]:
def recommend(username,list_of_users, n):
    recommendations={}
    total = 0
    nearestneighbor = computeNearestNeighbor_Pearson(username,list_of_users)
    userRatings = users[username]
    print(userRatings)
    for i in range(n):
        total += nearestneighbor[i][1]
    for i in range(n):
        weight = nearestneighbor[i][1]/total
        name = nearestneighbor[i][0]
        neighborRatings = users[name]
        print(neighborRatings)
        for artist in neighborRatings:
            if artist not in userRatings:
                if artist not in recommendations:
                    recommendations[artist] = (neighborRatings[artist] * weight)
                else:
                    recommendations[artist] = (recommendations[artist] + neighborRatings[artist]*weight)
    #recommendations = list(recommendations.items())
    #recommendations.sort(key=lambda i:i[1], reverse=True)
    return recommendations

In [47]:
r = recommend('Hailey',users,1)

{'Broken Bells': 4.0, 'Deadmau5': 1.0, 'Norah Jones': 4.0, 'The Strokes': 4.0, 'Vampire Weekend': 1.0}
{'Broken Bells': 4.5, 'Deadmau5': 4.0, 'Norah Jones': 5.0, 'Phoenix': 5.0, 'Slightly Stoopid': 4.5, 'The Strokes': 4.0, 'Vampire Weekend': 4.0}

In [52]:
pd.DataFrame([[key,value] for key,value in r.items()],columns=["key_col","val_col"]).sort_values(by='val_col',ascending=False)

            key_col  val_col
0           Phoenix      5.0
1  Slightly Stoopid      4.5

## Cosine Similarity

In [21]:
from math import pow, sqrt
def Cosine(ratings1, ratings2):
    sum_xy= 0
    sum_x_sqr = 0
    sum_y_sqr = 0
    for key in ratings1:
        x = ratings1[key]
        sum_x_sqr += pow(x,2)
        if key in ratings2:
            x = ratings1[key]
            y = ratings2[key]
            sum_xy += x*y
    for key in ratings2:
        y = ratings2[key]
        sum_y_sqr += pow(y,2)
    return sum_xy/sqrt((sum_x_sqr*sum_y_sqr))

In [22]:
Cosine(users['Angelica'], users['Veronica'])

0.9246279432210068

In [23]:
# Pearson
def computeNearestNeighbor_Cosine(username, list_of_users):
    distances=[]
    for user in list_of_users:
        if user != username:
            distances.append((user,Cosine(users[user],users[username])))
    distances.sort(key = lambda i: i[1],reverse=True)
    return distances

In [24]:
computeNearestNeighbor_Cosine('Angelica', users)

[('Veronica', 0.9246279432210068),
 ('Sam', 0.8948229769530731),
 ('Chan', 0.8784261605942703),
 ('Jordyn', 0.8025694479618785),
 ('Dan', 0.6487359696813167),
 ('Hailey', 0.6247161517603577),
 ('Bill', 0.540392532615596)]